.botoes-admin {
    width: 278px;
}
    @media (max-width: 1000px) {
        #lateral  {
            display: none  !important;
        }
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

      @media (max-width: 500px) {
        th {
            display: none;
        }    
    td {
        display: flex;
        align-items: center;
        text-align: center;
    }

    tbody {

        align-items: center;    
    }
   #lateral  {
        display: none  !important;
    }
    .btn-dark {
        max-height: 38px;
    }
}
