.container {
  display: flex;
  flex: column;
  justify-content: center;
  align-items: center;
}

#todos-eventos {
    display: flex;
    flex-direction: row;
}

@media (max-width: 900px) {
  body {
    width: 100%;
    }
    .container  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #todos-eventos {
        display: flex;
        flex-direction: row;
    }

    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .col img {
    
        width: 75%;
    }

    header{ 
    width: 100%;
    }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .col img {
    width: 75%;
  }

  header {
    width: 100%;
  }
  .slider {
    width: 100%;
  }
}
