.container {
  display: flex;
  flex: column;
  justify-content: center;
  align-items: center;
}

#todos-eventos {
  display: flex;
}

@media (max-width: 1000px) {
  body {
    width: 100%;
  }
  .container {

    text-align: center;
  }
  #todos-eventos {
    display: flex;
    flex-direction: column;
  }
  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .col img {
    width: 75%;
  }

  header {
    width: 100%;
  }
  .slider {
    width: 100%;
  }
}

@media (max-width: 500px) {
    #todos-eventos {
        display: flex;
        flex-direction: column;
      }
      .container {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap-reverse;
      }
    }